@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
  width:100vw;
  overflow-x:hidden;
}
body {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(200 253 238);
  font-size: 10px;
  
}

.css-bayan {
  margin: 0;
  width: 700px;
  height: auto;
  text-align: center;


}
.css-bayan-title {
  text-align: left;
  font-size: 3em;
}
.state {
  background: url(../img/plus-solid.svg) no-repeat;
  width: 20px; 
  height: 0;
  position: absolute;
  right: 15px;
  top: 20px;  
  z-index: 1;
}

.css-bayan:hover input:checked ~ .state, .css-bayan__item:hover .state {
  background-image: url(../img/minus-solid.svg);
  height: 20px;
}
.css-bayan:hover label:not(input:checked+label) {
  color:rgb(93, 93, 93);
  transition: all .5s ease-out;
}

.css-bayan__item {
  position: relative;
  background: #06ffb9;
  border-bottom: solid 2px grey;
  cursor: pointer;
}
.css-bayan:hover .state {
  height: 20px;
  transition: all .5s ease-out .2s;
}
img {  
  transition: all .5s ease-out .2s;
  overflow: hidden;
  height: 0;
}
input {
  display: none;
}
label {
  text-align: left;
  font-size: 2.5em;
  display: block;
  padding: 15px 2px 5px 15px;
  cursor: pointer;
  z-index: 1;


}

input:checked ~ img, .css-bayan__item:hover img{
  height: auto;
  transition: all .5s ease-out .2s;
  width: 60%;
  margin: 15px;
}
