@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
  width:100vw;
  overflow-x:hidden;
  font-size: 10px;
}
body {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(200 253 238);
}

.css-bayan {
  margin: 0;
  width: 70rem;
  height: auto;
  text-align: center;
}

.css-bayan-title {
  text-align: left;
  font-size: 3em;
}

.state {
  background: url(../img/plus-solid.svg) no-repeat;
  width: 2rem; 
  height: 0;
  position: absolute;
  right: 1.5rem;
  top: 2rem;  
}

.css-bayan:hover input:checked ~ .state, .css-bayan__item:hover .state {
  background-image: url(../img/minus-solid.svg);
  height: 2rem;
}
.css-bayan:hover label:not(input:checked+label) {
  color:rgb(114, 114, 114);
  transition: all .8s ease-out;
}

.css-bayan__item {
  position: relative;
  background: #06ffb9;
  border-bottom: solid .2rem grey;
  cursor: pointer;
}
.css-bayan:hover .state {
  height: 2rem;
  transition: all .8s ease-out .2s;
}

img {  
  transition: all .8s ease-out .2s;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

input {
  display: none;
}

label {
  text-align: left;
  font-size: 2.5em;
  display: block;
  padding: 1.5rem .2rem .5rem 1.5rem;
  cursor: pointer;
  z-index: 1;
}

input:checked ~ img, .css-bayan__item:hover img{
  opacity: 1;
  height: auto;
  transition: all .8s ease-out;
  width: 60%;
  margin: 1.5rem;
}

@media screen and (max-width: 820px){
  .css-bayan {
       width: 90%;   
  }
  label {
    font-size: 2rem;
  }
  .css-bayan-title {
    font-size: 2.5em;
  }
  .css-bayan-title {
  text-align: left;
  font-size: 3em;
  }
  .state {    
    
    right: 1.2rem;
    top: 1.8rem;  
  }

}
@media screen and (max-width: 425px){
  label {
    font-size: 1.5rem;
  }
  .css-bayan-title {
    font-size: 2.2em;
  }
  .css-bayan-title {
  text-align: left;
  font-size: 3em;
  }
  .state {    
    width: 1.5rem;
    right: 1.0rem;
    top: 1.5rem;  
  }
  

}